
.subsection {
  background-image: url("images/images/header-shapesmobile@2x.svg");
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
  width: 100px;
  height: 900px;
}

.subsection ul li {
  margin-right: 20px;
}

ul {
  list-style: none;
}
.subsection ul {
  display:flex;
  justify-content:flex-start;
}
.header-images ul {
  display:flex;
  justify-content: space-between;
}
h1 {
  color: #172B4D;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 40px;
  margin: 12px 0px;
  height: 150px;
  top: 114px;
  left: 24px;
  width: 327px;
  position: static;
  font-style: normal;
  line-height: 52px;
  flex: none; 
  order: 0;
  flex-grow: 0;
}
h3 {
  font-family: "Poppins";
  font-size: 16px;
  color: #7F8CFF;
  margin: 0px 8px;
  font-weight: 500;
  line-height: 24px;
}
p {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  width: 327px;
  height: 146px;
  top: 276px;
  margin:0px 8px;
  position: static;
  left: 24px;
  font-style: normal;
  line-height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;  
}