
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background-image: url("images/images/header-shapesmobile@2x.svg");
  background-repeat: no-repeat;
  min-height: 100vh;
}

.wrap-container{
  margin: 0 24px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin-top: 58px;
}

.headline a {
  margin-top: 58px;
}

.headline h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  color: #172b4d;
}

.info {
  font-weight: 400;
  font-style: normal;
  color:#344563;
}

.headline h3 {
  margin-top: 12px;
  margin-bottom: 12px;
  color: #7f8cff;
  font-weight: 500;
}

.headline ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.headline ul li{
  display: inline-block;
  padding-right: 20px;
}
